.index-page {
  height: 100%;
  background: #001f3c url('../../assets/background2.jpg') no-repeat center;

  &-header {
    height: 72px;
    background: url("../../assets/logo_03.png") no-repeat center;
  }

  &-main {
    position: absolute;
    top: 72px;
    width: 100%;
    bottom: 0;
  }

  .row {
    height: 100%;
    margin-left: -10px;
    margin-right: -10px;
    padding: 20px;
  }

  &-aside,
  &-body {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
  }

  &-aside {
    width: 25%;
  }

  &-body {
    width: 50%;
  }

  &-content-2x {
    width: 100%;
    height: 70%;
  }

  &-content {
    width: 100%;
    height: 30%;
  }
}

.components-item {
  width: 100%;
  height: 100%;
  position: relative;

  &-header {
    height: 36px;
    line-height: 36px;
    padding-left: 14px;
    letter-spacing: 1.2px;
    font-size: 16px;
    font-weight: 600;
    background: url('../../assets/cardheader2.png') no-repeat;
    background-size: 100% 100%;
  }

  &-body {
    position: absolute;
    top: 36px;
    bottom: 0;
    width: 100%;

    &-data {
      height: 80px;
      overflow: hidden;
      white-space: nowrap;
    }

    &-content {
      position: absolute;
      top: 80px;
      bottom: 0;
      width: 100%;

      &-echart {
        height: 50%;
        position: relative;

        &-header {
          height: 28px;
          line-height: 28px;
          padding-left: 14px;
          position: relative;

          &:before {
            display: block;
            content: "";
            width: 6px;
            height: 20px;
            background: #3ba9c4;
            border-radius: 6px;
            position: absolute;
            top: 4px;
            left: 0;
          }
        }

        &-content {
          position: absolute;
          top: 28px;
          bottom: 0;
          width: 100%;
        }
      }
    }
  }
}

.data {
  display: inline-block;
  line-height: 1;
  padding: 10px 2px;
  min-width: 156px;

  &-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 12px;
    vertical-align: middle;

    img {
      display: block;
      width: 35px;
      height: 35px;
    }
  }

  &-content {
    display: inline-block;
    vertical-align: middle;

    &-title {
      font-size: 14px;
    }

    &-number {
      font-size: 30px;
      text-shadow: 0px 0px 5px #3ba9c4, 0px 0px 7px #3ba9c4;
    }
  }
}