*,
:after,
:before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: #fff;
  font-size: 14px;
  background: #f7f7f7;
  -webkit-transition: background 1s cubic-bezier(.075, .82, .165, 1);
  transition: background 1s cubic-bezier(.075, .82, .165, 1);
  overflow: hidden;
}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0
}

ol,
ul {
  list-style: none
}

a {
  -webkit-transition: color .3s ease;
  transition: color .3s ease
}

.card-header {
  height: 36px;
  line-height: 36px;
  text-indent: 16px;
  letter-spacing: 1.2px;
  color: #72ccee;
  font-size: 16px;
  font-weight: 600;
  background: url("../assets/cardheader2.png") no-repeat;
}

.card-header2 {
  height: 24px;
  line-height: 24px;
  text-indent: 14px;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 6px;
    height: 18px;
    background: #3ba9c4;
    border-radius: 4px;
    position: absolute;
    top: 2px;
  }
}